<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TodoLiga</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
    <nav class="navbarInicio navbar-inverse navbar-fixed-top">
        <div class=" col-xs-12 col-sm-12 col-lg-12 container" id="botonera">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>

            <div class=" col-xs-6 col-sm-5 col-lg-5 ">
                <div class="collapse navbar-collapse myNavbar" id="">
                    <ul  class=" col-xs-12 col-sm-12 col-lg-12" >
                        <li>
                            <a href="#funcionalidad" class="botonMenu col-xs-12 col-sm-4 col-md-4 col-lg-3 btn " id="botoneraALaDer">Funci&oacute;n</a>
                        </li>
                        <li>
                            <a href="#conocenos" class="botonMenu col-xs-12 col-sm-4 col-md-4 col-lg-3 btn " id="botoneraALaDer">Con&oacute;cenos</a>
                        </li>
                        <li>
                            <a href="#inicio" class="botonMenu col-xs-12 col-sm-4 col-md-4 col-lg-3 btn " id="botoneraALaDer">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hidden-xs col-xs-2 col-sm-2 col-lg-2 ">
                <div class="collapse navbar-collapse myNavbar">
                    <img alt="TodoLiga" id='logo' src='images/logo1.png'>
                </div>
            </div>

            <div  class="col-xs-6 col-sm-5 col-lg-5  ">
                <div class="collapse navbar-collapse myNavbar " id="">
                    <ul class="  col-xs-12 col-sm-12 col-lg-12" >
                        <li>
                            <a href="#contacta" class="botonMenu col-xs-12 col-sm-4 col-md-3 col-lg-3 btn " id="botoneraALaIzq">Contacta</a>
                        </li>
                        <li>
                            <a href="#tarifa" class="botonMenu scol-xs-12 col-sm-4 col-md-3 col-lg-3 btn " id="botoneraALaIzq">Tarifa</a>
                        </li>
                        <li>
                            <a class="botonMenu col-xs-12 col-sm-3 col-md-4 col-lg-3 btn " data-toggle="modal" data-target="#myModal" id="botoneraALaIzq">Terminos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class=" sect sectUno" id="inicio">
        <div class="col-xs-12 col-sm-12 col-lg-12 container">
            <div class="col-xs-12 col-sm-12 col-lg-12 botonesCen">
                <a href="/register" >
                    <div class="col-xs-3 col-sm-3 col-lg-3 btn glyphicon glyphicon-pencil" id="botonRe">SignUp</div>
                </a>
                <a href="/login" >
                    <div class="col-xs-3 col-sm-3 col-lg-3 btn glyphicon glyphicon-user" id="botonLo">Login</div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <a href="#conocenos" class="flec"><h1 class="hidden">jjj</h1>
                    <div  class="col-xs-1 col-sm-1 col-lg-1 flecha">
                        <div id="" class=" qwe glyphicon glyphicon-menu-down"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 subsect" id="conocenos">
        <h2>Con&oacute;cenos</h2>
        <p>En esta web podrás gestionar y seguir diferentes ligas de todo tipo de índole, desde una liga de deporte a la liga de un juego de mesa, te ahorraras mucho tiempo de gestión y solución de dudas con los diferentes integrantes de estas ligas,
            no tendrás que preocuparte por donde tienes los datos de los participantes, estarán en linea dentro de nuestra web. Olvida todos los papeles, carpetas y las copias de las hojas de los datos de la liga.
        </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 sect sectDos"></div>
    <div class="col-xs-12 col-sm-12 col-lg-12 subsect" id="funcionalidad">
        <h2>Funci&oacute;n</h2>
        <p>La función principal de esta web es la gestión de ligas, creando una cuenta podrás ver todas las ligas y el avance que tiene esta y sus equipos. Para ser el administrador de ligas deberás ponerte en contacto con nosotros y tras esto ya podrás
            crear, borrar y modificar tus propias ligas. En las ligas puedes crear equipos con sus jugadores y entrenadores, rondas con sus partidos y resultados.
        </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 sect sectTres"></div>
    <div class="col-xs-12 col-sm-12 col-lg-12 subsect" id="contacta">
        <h2>Contacta</h2>
        <p>Para ponerte en contacto manda un mensaje a xxxxxxxx@xxx.xxx.
        </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 sect sectQuatro"></div>
    <div class="col-xs-12 col-sm-12 col-lg-12 subsect" id="tarifa">
        <h2>Tarifa</h2>
        <p>Para poder ser Administrador de ligas el porte sera de 30€ al año pudiendo crear la cantidad de ligas y diferentes elementos que uno quiera.
        </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 sect sectCinco"></div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="modalet">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Términos y Condiciones de Uso</h3>
                </div>
                <div class="modal-body">
                    <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.

                        El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. https://todoliga.herokuapp.com/ no asume la responsabilidad en caso de que entregue dicha clave a terceros.

                        Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.

                        Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>