* {
	margin:0;
}
html, body {
	height: 100%;
	padding-top: 0px;
	padding-bottom: 0px;

}

h1, h2, h3, h5, h6, p {
	margin-bottom: 20px;
	padding-left: 2%;

}


.navbarInicio {
	position: fixed!important;
	width: 100%!important;
	height: 3%!important;
	background-color: rgba(0,0,0,.5)!important;
	z-index: 99!important;
	text-align: center!important;
	-webkit-transition: margin-left .5s!important;
	display: table!important;
	margin: auto!important;

}

.sect {

	height: 60%;
	background-size: 100%;
	background-repeat:  no-repeat;
	background-attachment: fixed;
}

.subsect {
	height: auto;
	padding: 4%;
	background: rgba(181,189,191,1);
	background: -moz-linear-gradient(top, rgba(181,189,191,1) 0%, rgba(181,189,191,1) 2%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 73%, rgba(181,189,191,1) 94%, rgba(181,189,191,1) 100%);
	background: -webkit-linear-gradient(top, rgba(181,189,191,1) 0%, rgba(181,189,191,1) 2%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 73%, rgba(181,189,191,1) 94%, rgba(181,189,191,1) 100%);
	background: -o-linear-gradient(top, rgba(181,189,191,1) 0%, rgba(181,189,191,1) 2%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 73%, rgba(181,189,191,1) 94%, rgba(181,189,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(181,189,191,1) 0%, rgba(181,189,191,1) 2%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 73%, rgba(181,189,191,1) 94%, rgba(181,189,191,1) 100%);
	background: linear-gradient(to bottom, rgba(181,189,191,1) 0%, rgba(181,189,191,1) 2%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 73%, rgba(181,189,191,1) 94%, rgba(181,189,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdbf', endColorstr='#b5bdbf', GradientType=0 );
}

.sectUno {
    height: 100%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
    background-image: url('../images/img1-1.jpg');
}

.sectDos {
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
	background-image: url('../images/img2.jpg');
}

.sectTres {
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
	background-image: url('../images/img3.jpg');
}

.sectQuatro {
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
	background-image: url('../images/img4.jpg');
}

.sectCinco {
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
    background-image: url('../images/img5.jpg');
}
ul{
	display: block!important;
	float: left!important;
	list-style: none!important;
}

.botonMenu:hover {
    background-color: black!important;
    opacity: .4!important;
}


ul .botonMenu{
	color: #F3F3F3!important;
	text-decoration: none!important;
	text-align: center;
}

#botoneraIzq {
	float: left;
}

#botoneraDer {
	float: right;
}

#botoneraALaDer {
	float: right;
}

#botonera {
	padding-top: 0.5%;
}

img#logo{
	height: 38px!important;
	width: 38px!important;
}

.botonesCen {
	margin-top: 25%;
	display:inline-block;
}

#botonRe {
	margin-right: 2%!important;
	margin-left: 24%!important;
	box-shadow: 2px 2px!important;
	background-color: white!important;
	opacity: 0.8!important;
	color:#232B2B!important;
}

#botonLo {
	box-shadow: 2px 2px!important;
	background-color: white!important;
	opacity: 0.8!important;
	color:#232B2B!important;


}

#botonRe:hover {
	opacity: 1.0;
	box-shadow: 3px 3px;
}

#botonLo:hover {
	opacity: 1.0;
	box-shadow: 3px 3px;
}

.flecha {
	width: 30px!important;
	height: 30px!important;
	border-radius: 100%;
	background-color: white;
	margin-top: 10%;
	margin-left: 49%;
	border: 1.9px solid black;
	box-shadow: 2px 2px;
	opacity: 0.7!important;
	color: #232B2B;


}

.flecha:hover {
	opacity: 1.0!important;;
	box-shadow: 3px 3px;
	background-color: white;
}

.flec:hover {
    background-color: white;
}

#modalet {
    margin-top: 15%;
	background-color: black;
	opacity: 0.9;
	color:white;
}

.qwe {
	margin-top: 6px!important;
	margin-left: -6.5px!important;
}

.ligas {
	margin-bottom: 2%!important;
	border-bottom:2px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(23, 32, 42,0.9)!important;
	color: #a9a9a9!important;
	padding: 0.5% 0% 0.5% 1%!important;
	margin-top: 0px;

}

#fondoligas {
	height: 650px!important;
	background-image: url('../images/img4.jpg');
	background-repeat:  no-repeat;
	background-attachment: fixed;
	margin-top: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	border: 2px solid rgba(171, 178, 185, 0.4);
	background-color: rgba(48, 55, 59,0.6)!important;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.fondoliga {
	height: 650px!important;
	background-image: url('../images/img6.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
	background-attachment: fixed;
	margin-top: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	border: 2px solid rgba(171, 178, 185, 0.4);
	background-color: rgba(48, 55, 59,0.9)!important;


}

.fondoequipos {
	height: 650px!important;
	background-image: url('../images/img5.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
	background-attachment: fixed;
	margin-top: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	border: 2px solid rgba(171, 178, 185, 0.4);
	background-color: rgba(48, 55, 59,0.9)!important;

}

.fondoequipo {
    height: 1500px!important;
    background-image: url('../images/img6.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat:  no-repeat;
	background-attachment: fixed;
	margin-top: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	border: 2px solid rgba(171, 178, 185, 0.4);
	background-color: rgba(48, 55, 59,0.9)!important;



}

.fondoronda {
	height: 1050px!important;
	background-image: url('../images/img2.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-repeat:  no-repeat;
	background-attachment: fixed;
	margin-top: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	border: 2px solid rgba(171, 178, 185, 0.4);
    background-color: rgba(48, 55, 59,0.9)!important;

}

.fondopartido {
    height: 650px!important;
    background-image: url('../images/img10.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    background-repeat:  no-repeat;
    background-attachment: fixed;
    margin-top: 10px;
    -webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
    -moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
    box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
    border: 2px solid rgba(171, 178, 185, 0.4);
    background-color: rgba(48, 55, 59,0.9)!important;

}

.cajaligas{
	padding-bottom: 8px;
	margin-bottom: 1%;
	background-color: rgba(86, 101, 115, 0.9);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
}

.cajapartidos{
	padding-bottom: 8px;
	margin-bottom: 1%;
	background-color: rgba(86, 101, 115, 0.9);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	min-height: 200px;

}

.cajaliga{
	padding-bottom: 8px;
	margin-bottom: 1%;
	background-color: rgba(86, 101, 115, 0.9);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
}

.cajaequipos{
	padding-bottom: 8px;
	margin-bottom: 1%;
	background-color: rgba(86, 101, 115, 0.9);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
}

.cajaequipo{
	padding-bottom: 8px;
	margin-bottom: 1%;
	background-color: #E5EF4A;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);"
}

.cajajugadores{
	padding-bottom: 8px;
	margin-bottom: 1%;
	background-color: rgba(86, 101, 115, 0.9);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
}

.cajajugador{
	padding-bottom: 8px;
	margin-bottom: 1%;
	background-color: rgba(86, 101, 115, 0.9);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
    height: 250px;
}

#milk {
	margin-bottom: 5px;
}

#menuinterior{
	color: black;
	float: right;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 15px;

}

ul .botonMenuInterior{
	color: #a9a9a9!important;
	text-decoration: none!important;
	text-align: center;
}

.botonMenuInterior:hover{
	color:white!important;

}
#menubase{
	-webkit-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	-moz-box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	box-shadow: 5px 8px 10px -2px rgba(0,0,0,1);
	width: 250px;
	background-color: rgba(48, 55, 59,0.9)!important;
	margin-top: 6%;
	position: absolute;
	z-index: 3;
	margin-left: -240px;
	border-bottom-right-radius: 3%;
	border-top-right-radius: 3%;
	text-align: right;
	padding: 3px 15px 3px 12px;


}

.verde{
	color: #88cf58 !important;
	text-decoration: none!important;
}

.grisclaro{
	color:#EDEFF1;
	text-decoration: none!important;
}

.userDefault{
	height: 100%!important;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	background-image: url('../images/user.png');
	background-repeat:  no-repeat;
	margin-top: 1.5%;
}

.detalleJugador{
	margin: 10px 0px 10px 0px;
	word-break: break-all;
	word-wrap: break-word;
	min-height: 45px;
}