{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">

            <h3 style="margin-top: 0px;">{{ Liga.nombre }}</h3>

            Descripcion:    {{ Liga.texto}}<br>

        </div>
    </div>
{% endblock %}